:root {
  --grid-columns: 1;
  --grid-rows: 1;
}

body {
  background-color: #fdfcc4;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  font-size: 26px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

#grid {
  background-color: #aaaed4;
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  border: 2px solid #00957c;
}

.cellStyle {
  font-weight: bold;
  color: #ea6032;
  box-sizing: border-box;
  border: 1px solid #00957c;
}

.disclaimer {
  font-size: 10px;
}
